/* visible scrollbar/source: https://stackoverflow.com/questions/1202425/making-the-main-scrollbar-always-visible*/
::-webkit-scrollbar 
{
    -webkit-appearance: none;
    width: 7px;
    
}
::-webkit-scrollbar-thumb 
{
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}