*
{
    margin: 0;
    padding: 0;
}
.page                                                               /* index */
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
    width: 100%;
    height: 100vh;
    font-size: 16px;
    background-image: linear-gradient(rgb(41, 40, 40), rgba(108, 158, 158, 0.851));
}
.flack
{
    position: relative;
    bottom: 20%;
}

.flack h1
{
    color: rgb(51, 54, 54);
    font-size: 2em;
    font-family: Helvetica, Arial, sans-serif;

}
form
{
    display: flex;
    flex-direction: column;
}
input 
{ 
    font-size: inherit; 
    font-family: inherit;
}
input:focus
{
    outline: none;
}
.name
{
    width: 60%;
}
.name input
{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    font-size: 1em;
    text-align: center;
    margin-bottom: 10px;
}
.name input[type=submit]
{
    width: 100%;
    height: 30px;
    font-size: 1em;
    text-align: center;
    background-color: rgb(59, 59, 59);
    color: rgb(240, 240, 240);
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    cursor: pointer;
    padding: 5px;
}
.go-channels
{
    position: relative;
    bottom: 10%;
}
.go-channels a
{
    text-decoration: none;
    color: rgb(43, 44, 44);
    font-size: 1.3em;
    font-family: 'Lucida Sans';
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)
{
    .go-channels a
    {
        font-size: 1.5em;
    }
}


/* Index page | Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
{
    .name
    {
        width: 30%;
    }
    .name input
    {
        font-size: 1.5em;
    }
    .flack h1
    {
        font-size: 2em;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)
{
    .name
    {
        width: 40%;
    }
    .name input[type=submit], .name input[type=text]
    {
        height: 50px;
        font-size: 1.5em;
    }
    .flack h1
    {
        font-size: 2.5em;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
{
    .name
    {
        width: 30%;
    }
}



                                                                        /* channels page */

.scroll
{
    width: 80%;
    border-radius: 20px;
    height: 70vh;
    margin-bottom: 50px;
    overflow: scroll;
} 


#under-channels
{
    background-color: rgb(83, 83, 83);
    color: rgb(240, 240, 240);
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    font-size: 0.9em;
    cursor: pointer;
    width: 60%;
    height: 30px;
    margin-bottom: 50px;
    text-decoration: none;
    text-align: center;
}

.scroll ul
{
    list-style: none;
}    
.all-channels li
{
    font-family: 'Indie Flower', sans-serif;
    font-size: 1.2em;
    font-weight: bolder;
    color: rgb(59, 59, 59);
    margin: 10px 10px 15px 25px;

}   
.all-channels a
{
    text-decoration: none;
}   

.all-channels button
{
    height: 40px;
    width: 100%;
    border: none;
    background-color: inherit;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: rgb(228, 230, 229);
} 
.all-channels button:hover
{
    color: rgb(0, 102, 102);
}

#hello-name h1
{
    color: rgb(37, 37, 37);
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 15px;
    text-align: center;
}   

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
{
    #hello-name h1
    {
        font-size: 1.5em;
    }
}


                                                                    /* chat page */

#back-to-channels
{
    text-decoration: none;
    color: aliceblue;
    margin-bottom: 40px;
    font-size: 1.2em;
}
#channel-form
{
    width: 100%;
}  
hr
{
    width: 100%;
    opacity: 0.25;
}                                                                 
.message
{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.message textarea
{
    width: 80%;
    height: 50px;
    border: none;
    font-size: 1em;
}
.message textarea:focus
{
    outline: none;
}
.message input
{
    
    width: 20%;
    height: 50px;
    border-radius: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    border: none;
    background-color: rgb(59, 59, 59);
    color: rgb(240, 240, 240);
    font-family: 'Montserrat', sans-serif;
}
.hello-channel p
{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: rgb(222, 224, 224);
    margin-bottom: 10px;
    margin-top: 10px;
}
.messages
{
    width: 90%;
    height: 70vh;
    margin-bottom: 70px;
    border-radius: 15px;
    overflow: scroll;
    background-color: rgb(245, 247, 247);
}
.messages li
{
    margin-top: 15px;
    margin-left: 20px;
    list-style: none;
    font-size: 1em;
    color: rgb(45, 48, 48);
    font-family: Helvetica, Arial, sans-serif;
}
.nav-chat
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-chat h1
{
    color: rgb(100, 99, 99);
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    margin-left: 7%;
}
.nav-chat button
{
    background-color: rgb(59, 59, 59);
    color: rgb(240, 240, 240);
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    margin-right: 7%;
    margin-bottom: 5%;
    padding: 5px;
    font-size: 0.9em;
    cursor: pointer;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
{
    .messages
    {
        width: 70%;
    }
    .message input
    {
        width: 10%;
    }
    .message textarea
    {
        width: 90%;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)
{
    .hello-channel p
    {
        font-size: 1.5em;
        margin-bottom: 15px;
    }
    .nav-chat button
    {
        margin-right: 7%;
        margin-bottom: 3%;
        font-size: 1em;
        padding: 7px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
{
    .hello-channel p
    {
        font-size: 1.8em;
        margin-bottom: 20px;
    }
    .nav-chat button
    {
        margin-right: 7%;
        margin-bottom: 3%;
        font-size: 1.3em;
        padding: 10px;
    }
    .message input
    {
        font-size: 1.3em;
    }
}
