
<!DOCTYPE html>
<html>
    <head>
        <!--Internal CSS stylesheet-->
        <link href="/static/styles.css" rel="stylesheet">
        <!--Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Anton|Indie+Flower|Pacifico&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <!--Socket-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        <script type="text/javascript">
            var socket = io();
        </script>
        <title>Flack - channel </title>
        
    </head>
    <body>
        <script type="text/javascript">

            document.addEventListener('DOMContentLoaded', () => {
                console.log('received message');
                var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

                
                document.querySelector("#submit-message-test").onclick = () => {
                        const message = document.querySelector("#message-test").value;
                        socket.emit('send message', {"message": message});
                };
                
                
                socket.on('announce message', data => {
                    const div = document.createElement('div');
                    div.innerHTML = `${data.message}`;
                    document.querySelector("#messages-test").append(div);
                });
            });
        </script>
      
            
            <div id="messages-test">
               
            </div>
            <form id="channel-form" action={{ url_for('channel', channel=channel) }} method="POST">
                <div>
                    <input id="message-test" name="message" type="text" autofocus></input>
                    <input id="submit-message-test" type="submit" value="send">
                </div>
            </form>
       
    </body>
</html>