<!DOCTYPE html>
<html>
    <head>
        <!--Internal CSS stylesheet-->
        <link href="/static/styles.css" rel="stylesheet">
        <!--Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Anton|Indie+Flower|Pacifico&display=swap" rel="stylesheet">
        <title>Flack - channels </title>
        <!--Jquery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
         <!--Socket-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        <script type="text/javascript">
            var socket = io();
        </script>
    </head>
    <body>
        <div class="page">
            <h2 id="hello-name"></h2>
            <h1>Explore channels</h1>
            <div class="scroll">
                <ul class="all-channels" id="all-channels" data-all_channels="channels">
                    {% for channel in channels_list %}
                        <a href={{ url_for('channel', channel=channel) }} class="join-channel"><li class="chosen-channel"><button>{{channel}}</button></li></a>
                    {% endfor %}
                </ul>
            </div>
                <a id="under-channels" href={{ url_for('create_channel') }}>Do you want to create your channel?</a>
        </div> 
        <script type="text/javascript">
            // join the chosen channel
                var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
                socket.on('connect', () => {
                    socket.send('user has connected');
                    // configure all the links to emit 'join' event
                    /*document.querySelectorAll('button').forEach(button => {
                        button.onclick = () => {
                            alert("works");
                            const username = localStorage.getItem('name');
                            const room = button.innerHTML;
                            socket.emit('join', {"room": room, "username": username});
                            console.log(room);
                        };*/
                });
                
                /*document.querySelectorAll('button').forEach(button => {
                    button.onclick = myFunction;
                });
                function myFunction() {
                    alert("every single button should fucking work");
                    const room = document.querySelector('button').innerHTML;
                    alert(room);
                    socket.emit('join', room);
                }*/

                // set onclick funtion to dynamically created elements with jinja2
               /* document.getElementById("all-channels").addEventListener("click", event => {
                    if (event.target && event.target.matches("button")) {
                        const room = event.target.innerHTML;
                        socket.emit('join', room);
                        localStorage.setItem('last channel', channel);
                    }
                }, false);*/
                
        </script>
       
    </body>
</html>







