{% extends "layout.html" %}

{% block main %}
    <div class="page">
        <h2 id="hello-name"></h2>
        <form id="create-channel-form" action="/channels" method="POST">
            <div class="create-channel">
                <input id="create-channel" type="text" name="create-channel" autofocus placeholder="create your channel">
                <laber for="create-channel">The channel already exists</laber>
                <input id="submit" type="submit" value="create">
            </div>
            <div id="test"></div>
        </form>

        <div class="choose-channel">

        </div>
    </div>  
{% endblock %}