<!DOCTYPE html>
<html>
    <head>
        <!--Internal CSS stylesheet-->
        <link href="/static/styles.css" rel="stylesheet">
        <!--Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Anton|Indie+Flower|Pacifico&display=swap" rel="stylesheet">
        <title>Flack - channels </title>

    </head>
    <body>
        <div class="page">
            <h2 id="hello-name"></h2>
            <div class="go-channels">
                <a href={{ url_for('channels') }}>Go to channels</a>
            </div>
            <form id="create-channel-form" class="create-channel-form" action="/create_channel" method="POST">
                <h3>Do you want to create a channel?</h3>
                <div class="create-channel">
                    <input id="create-channel" type="text" name="create-channel" autofocus placeholder="create your channel">
                    <label for="create-channel">The channel already exists.</label>
                    <button id="submit" type="submit">create</button>
                </div>
            </form>
        </div>  
        <script>
            
                document.addEventListener('DOMContentLoaded', () => {
                    // retrieve user's name from localStorage and say hello
                    const name = localStorage.getItem('name');
                    document.querySelector("#hello-name").innerHTML = 'Hello' + ' ' + name;
                    
                    // disable submit button be defult and if no input
                    document.querySelector("#submit").disabled = true;
                    document.querySelector("#create-channel").onkeyup = () => {
                        if (document.querySelector("#create-channel").value.length > 0)
                            document.querySelector("#submit").disabled = false;
                        else
                            document.querySelector("#submit").disabled = true;
                    };
               
    
                    // save channel's name in localStorage to take the user back to that channel after closing a browser window
                    document.querySelector("#create-channel-form").onsubmit = () => {
                        const channel = document.querySelector("#create-channel").value;
                        localStorage.setItem('last channel', channel);
                    };
                });
    
    
        </script>
    </body>
</html>







