<!DOCTYPE html>
<html>
    <head>
        <!--Internal CSS stylesheet-->
        <link href="/static/styles.css" rel="stylesheet">
        <!--Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Anton|Indie+Flower|Pacifico&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        
        <title>Flack -  </title>
        
        
    </head>
    <body>
        <div class="page">
            <div class="flack">
                <h1>f l a c k
                </h1>
            </div>
            <div class="go-channels">
                <a href={{ url_for('home') }}>Go to channels</a>
            </div>
            <div class="name">
                <form id="form" action="/" method="POST">
                    <input id="name" type="text" name="name" autocomplete="off" autofocus placeholder="Create your username">
                    <input id="create-channel" type="text" name="create-channel" autocomplete="off" autofocus placeholder="Create your channel">
                    <label for="create-channel">The channel exists.</label>
                    <input type="submit" value="next">
                </form>
            </div>
        </div>
        <script type="text/javascript">
            // index page | get a user's name input and store it in localStorage
            document.addEventListener('DOMContentLoaded', () => {
                
                let form = document.querySelector("#form");
                form.onsubmit = () => {
                const name = document.querySelector("#name").value;
                // save name variable to localStorage
                localStorage.setItem('name', name);
                };

                // if a user was in a channel before, take them back to that same channel
                var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
                if (localStorage.getItem("last channel")) {
                    const room = localStorage.getItem("last channel");
                    socket.emit('join', room);
                }
            });
        </script>
    </body>
</html>

