<!DOCTYPE html>
<html>
    <head>
        <!--Internal CSS stylesheet-->
        <link href="/static/styles.css" rel="stylesheet">
        <!--Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Anton|Indie+Flower|Pacifico&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <!--Internal js-->
        <script type="text/javascript" src="/static/index.js"></script>
        <title>Flack - {% block title %} {% endblock %} </title>
        
    </head>
    <body>
    {% block main %}
    {% endblock %}
    </body>
</html>